@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mprins\/workspace\/geodienstencentrum\.github\.io\/_sass\/_utils\.scss}line{font-family:\000034}}
.visually-hidden {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  padding: 0 !important;
  margin: -1px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
  border: 0 !important;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mprins\/workspace\/geodienstencentrum\.github\.io\/_sass\/_utils\.scss}line{font-family:\0000317}}
.hidden {
  display: none;
  visibility: hidden;
}

@font-face {
  font-family: "icomoon";
  src: url('../fonts/icomoon.eot?1409404756');
  src: url('../fonts/icomoon.eot?&1409404756#iefix') format('embedded-opentype'), url('../fonts/icomoon.woff?1409404756') format('woff'), url('../fonts/icomoon.ttf?1409404756') format('truetype'), url('../fonts/icomoon.svg?1409404756') format('svg');
  font-weight: "normal";
  font-style: "normal";
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mprins\/workspace\/geodienstencentrum\.github\.io\/_sass\/_icons\.scss}line{font-family:\0000310}}
[data-icon]::before {
  font-family: icomoon;
  content: attr(data-icon);
  speak: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mprins\/workspace\/geodienstencentrum\.github\.io\/_sass\/_icons\.scss}line{font-family:\0000317}}
time::before {
  font-family: icomoon;
  font-size: initial;
  content: '\e60f\0000a0';
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mprins\/workspace\/geodienstencentrum\.github\.io\/_sass\/_footer\.scss}line{font-family:\000031}}
.site-footer {
  margin-top: 2em;
  margin-right: auto;
  margin-bottom: 0;
  margin-left: auto;
  overflow: hidden;
  font-size: smaller;
  line-height: 1.2em;
  color: #3a16ad;
  border-top: 4px solid #fca903;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mprins\/workspace\/geodienstencentrum\.github\.io\/_sass\/_footer\.scss}line{font-family:\0000313}}
.site-footer .contact {
  float: left;
  margin-right: 1.1em;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mprins\/workspace\/geodienstencentrum\.github\.io\/_sass\/_footer\.scss}line{font-family:\0000318}}
.site-footer a {
  color: #3a16ad;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/lib\/gems\/2\.2\.0\/gems\/compass-core-1\.0\.3\/stylesheets\/compass\/typography\/links\/_link-colors\.scss}line{font-family:\0000318}}
.site-footer a:visited {
  color: #016262;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/lib\/gems\/2\.2\.0\/gems\/compass-core-1\.0\.3\/stylesheets\/compass\/typography\/links\/_link-colors\.scss}line{font-family:\0000321}}
.site-footer a:focus {
  color: #016262;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/lib\/gems\/2\.2\.0\/gems\/compass-core-1\.0\.3\/stylesheets\/compass\/typography\/links\/_link-colors\.scss}line{font-family:\0000324}}
.site-footer a:hover {
  color: #016262;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/lib\/gems\/2\.2\.0\/gems\/compass-core-1\.0\.3\/stylesheets\/compass\/typography\/links\/_link-colors\.scss}line{font-family:\0000327}}
.site-footer a:active {
  color: #029797;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mprins\/workspace\/geodienstencentrum\.github\.io\/_sass\/_footer\.scss}line{font-family:\0000327}}
.rss {
  float: right;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mprins\/workspace\/geodienstencentrum\.github\.io\/_sass\/_footer\.scss}line{font-family:\0000331}}
.buttons {
  display: inline-flex;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mprins\/workspace\/geodienstencentrum\.github\.io\/_sass\/_tagcloud\.scss}line{font-family:\000035}}
.tagcloud {
  list-style-type: none;
  font-size: 1.2em;
  line-height: 1.44em;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/lib\/gems\/2\.2\.0\/gems\/compass-core-1\.0\.3\/stylesheets\/compass\/typography\/lists\/_inline-list\.scss}line{font-family:\000036}}
.tagcloud, .tagcloud li {
  margin: 0;
  padding: 0;
  display: inline;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/lib\/gems\/2\.2\.0\/gems\/compass-core-1\.0\.3\/stylesheets\/compass\/utilities\/general\/_tag-cloud\.scss}line{font-family:\000035}}
.tagcloud .xxs, .tagcloud .xs, .tagcloud .s, .tagcloud .l, .tagcloud .xl, .tagcloud .xxl {
  line-height: 1.44em;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/lib\/gems\/2\.2\.0\/gems\/compass-core-1\.0\.3\/stylesheets\/compass\/utilities\/general\/_tag-cloud\.scss}line{font-family:\000037}}
.tagcloud .xxs {
  font-size: 0.6em;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/lib\/gems\/2\.2\.0\/gems\/compass-core-1\.0\.3\/stylesheets\/compass\/utilities\/general\/_tag-cloud\.scss}line{font-family:\000039}}
.tagcloud .xs {
  font-size: 0.8em;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/lib\/gems\/2\.2\.0\/gems\/compass-core-1\.0\.3\/stylesheets\/compass\/utilities\/general\/_tag-cloud\.scss}line{font-family:\0000311}}
.tagcloud .s {
  font-size: 0.9em;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/lib\/gems\/2\.2\.0\/gems\/compass-core-1\.0\.3\/stylesheets\/compass\/utilities\/general\/_tag-cloud\.scss}line{font-family:\0000313}}
.tagcloud .l {
  font-size: 1.6em;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/lib\/gems\/2\.2\.0\/gems\/compass-core-1\.0\.3\/stylesheets\/compass\/utilities\/general\/_tag-cloud\.scss}line{font-family:\0000315}}
.tagcloud .xl {
  font-size: 1.8em;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/lib\/gems\/2\.2\.0\/gems\/compass-core-1\.0\.3\/stylesheets\/compass\/utilities\/general\/_tag-cloud\.scss}line{font-family:\0000317}}
.tagcloud .xxl {
  font-size: 2.4em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mprins\/workspace\/geodienstencentrum\.github\.io\/_sass\/_tagcloud\.scss}line{font-family:\0000310}}
.tags {
  overflow: hidden;
  font-size: smaller;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mprins\/workspace\/geodienstencentrum\.github\.io\/_sass\/_tagcloud\.scss}line{font-family:\0000315}}
.taglist {
  margin: 0;
  padding: 0;
  border: 0;
  overflow: hidden;
  *zoom: 1;
  float: right;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/lib\/gems\/2\.2\.0\/gems\/compass-core-1\.0\.3\/stylesheets\/compass\/typography\/lists\/_inline-block-list\.scss}line{font-family:\0000349}}
.taglist li {
  list-style-image: none;
  list-style-type: none;
  margin-left: 0;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  white-space: nowrap;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mprins\/workspace\/geodienstencentrum\.github\.io\/_sass\/_tagcloud\.scss}line{font-family:\0000321}}
.tag {
  float: left;
  margin-right: 0.5em;
  margin-left: 0.5em !important;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mprins\/workspace\/geodienstencentrum\.github\.io\/_sass\/_sitenav\.scss}line{font-family:\000031}}
.site-nav {
  -moz-border-radius: 0.3em;
  -webkit-border-radius: 0.3em;
  border-radius: 0.3em;
  -moz-box-shadow: 0px 0px 5px #333333;
  -webkit-box-shadow: 0px 0px 5px #333333;
  box-shadow: 0px 0px 5px #333333;
  position: fixed;
  top: 3em;
  right: 1%;
  overflow: hidden;
  line-height: 1.4em;
  color: #f8f4ec;
  background-color: #3a16ad;
}
@media (max-width: 47.937em) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mprins\/workspace\/geodienstencentrum\.github\.io\/_sass\/_sitenav\.scss}line{font-family:\000031}}
  .site-nav {
    top: 0.2em;
  }
}
@media (min-width: 72em) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mprins\/workspace\/geodienstencentrum\.github\.io\/_sass\/_sitenav\.scss}line{font-family:\000031}}
  .site-nav {
    right: initial;
    left: calc(50% + 26em);
  }
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mprins\/workspace\/geodienstencentrum\.github\.io\/_sass\/_sitenav\.scss}line{font-family:\0000325}}
.site-nav a {
  color: #fff;
  text-decoration: none;
  white-space: nowrap;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/lib\/gems\/2\.2\.0\/gems\/compass-core-1\.0\.3\/stylesheets\/compass\/typography\/links\/_link-colors\.scss}line{font-family:\0000318}}
.site-nav a:visited {
  color: #fff;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/lib\/gems\/2\.2\.0\/gems\/compass-core-1\.0\.3\/stylesheets\/compass\/typography\/links\/_link-colors\.scss}line{font-family:\0000324}}
.site-nav a:hover {
  color: #fff;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/lib\/gems\/2\.2\.0\/gems\/compass-core-1\.0\.3\/stylesheets\/compass\/typography\/links\/_link-colors\.scss}line{font-family:\0000327}}
.site-nav a:active {
  color: #fff;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mprins\/workspace\/geodienstencentrum\.github\.io\/_sass\/_sitenav\.scss}line{font-family:\0000335}}
.site-nav > ul {
  list-style-image: none;
  list-style-type: none;
  margin-left: 0;
  padding: 0;
  margin-top: 0;
  margin-bottom: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mprins\/workspace\/geodienstencentrum\.github\.io\/_sass\/_sitenav\.scss}line{font-family:\0000341}}
.site-nav > ul > li {
  margin-right: 0.3em;
  margin-left: 0.3em;
}
@media (max-width: 47.937em) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mprins\/workspace\/geodienstencentrum\.github\.io\/_sass\/_sitenav\.scss}line{font-family:\0000341}}
  .site-nav > ul > li {
    display: inline;
  }
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mprins\/workspace\/geodienstencentrum\.github\.io\/_sass\/screen\.scss}line{font-family:\0000312}}
body {
  color: #200771;
  background-color: #fca903;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mprins\/workspace\/geodienstencentrum\.github\.io\/_sass\/screen\.scss}line{font-family:\0000317}}
.site {
  -moz-border-radius: 0.3em;
  -webkit-border-radius: 0.3em;
  border-radius: 0.3em;
  -moz-box-shadow: 0px 0px 5px #333333;
  -webkit-box-shadow: 0px 0px 5px #333333;
  box-shadow: 0px 0px 5px #333333;
  padding: 0.3em;
  background-color: #f8f4ec;
}
@media (min-width: 48em) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mprins\/workspace\/geodienstencentrum\.github\.io\/_sass\/screen\.scss}line{font-family:\0000317}}
  .site {
    border-left: #3a16ad solid 0.3em;
  }
}
@media (max-width: 47.937em) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mprins\/workspace\/geodienstencentrum\.github\.io\/_sass\/screen\.scss}line{font-family:\0000317}}
  .site {
    max-width: 98%;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mprins\/workspace\/geodienstencentrum\.github\.io\/_sass\/screen\.scss}line{font-family:\0000334}}
  .site h1 {
    font-size: 1.5em;
  }
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mprins\/workspace\/geodienstencentrum\.github\.io\/_sass\/screen\.scss}line{font-family:\0000340}}
.summary {
  -moz-box-shadow: 0px 0px 5px #333333;
  -webkit-box-shadow: 0px 0px 5px #333333;
  box-shadow: 0px 0px 5px #333333;
  -moz-border-radius: 0.3em;
  -webkit-border-radius: 0.3em;
  border-radius: 0.3em;
  padding: 0.3em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mprins\/workspace\/geodienstencentrum\.github\.io\/_sass\/screen\.scss}line{font-family:\0000347}}
.skiplink {
  position: absolute;
  left: -1000em;
  z-index: 10;
  display: block;
  padding: 0.3em;
  background-color: #f8f4ec;
  border: 2px solid #fca903;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mprins\/workspace\/geodienstencentrum\.github\.io\/_sass\/screen\.scss}line{font-family:\0000356}}
.skiplink:focus, .skiplink:hover {
  top: 1em;
  left: 1em;
  z-index: 1000;
  color: #3a16ad;
  border: initial;
}

@media (max-width: 47.937em) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mprins\/workspace\/geodienstencentrum\.github\.io\/_sass\/screen\.scss}line{font-family:\0000367}}
  .twitter-widget {
    display: none;
  }
}
@media (min-width: 48em) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mprins\/workspace\/geodienstencentrum\.github\.io\/_sass\/screen\.scss}line{font-family:\0000367}}
  .twitter-widget {
    display: none;
  }
}
@media (min-width: 72em) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/mprins\/workspace\/geodienstencentrum\.github\.io\/_sass\/screen\.scss}line{font-family:\0000367}}
  .twitter-widget {
    position: fixed;
    top: 12em;
    right: 1.5em;
    display: initial;
    width: 15em;
  }
}
