/* CONFIGURATION */
/* Text colors */
@font-face {
  font-family: "icomoon";
  src: url('../fonts/icomoon.eot');
  src: url('../fonts/icomoon.eot?#iefix') format('eot'), url('../fonts/icomoon.woff') format('woff'), url('../fonts/icomoon.ttf') format('truetype'), url('../fonts/icomoon.svg') format('svg');
  font-weight: "normal";
  font-style: "normal";
}

/* line 7, ../_sass/_icons.scss */
[data-icon]:before {
  font-family: icomoon;
  content: attr(data-icon);
  speak: none;
}

/* line 2, ../_sass/_footer.scss */
.footer {
  color: #3a16ad;
  border-top: 4px solid #fca903;
  margin-top: 2em;
  overflow: hidden;
  font-size: smaller;
}

/* line 10, ../_sass/_footer.scss */
.footer .contact {
  float: left;
  margin-right: 3em;
}

/* line 15, ../_sass/_footer.scss */
.footer a {
  color: #029797;
}

/* line 19, ../_sass/_footer.scss */
.footer .rss {
  float: right;
}

/* line 23, ../_sass/_footer.scss */
.tags {
  padding-left: 30px;
  padding-right: 30px;
  overflow: hidden;
}

/* line 29, ../_sass/_footer.scss */
.row {
  width: 100%;
  font-size: smaller;
}

/* line 34, ../_sass/_footer.scss */
.taglist {
  margin: 0;
  padding: 0;
  float: right;
}

/* line 40, ../_sass/_footer.scss */
.tag {
  float: left;
  margin-left: 1em;
  margin-right: 0.5em;
}
/* line 45, ../_sass/_footer.scss */
.tag:first-child {
  list-style: none;
}
/* line 48, ../_sass/_footer.scss */
.tag:first-child:before {
  font-family: icomoon;
  content: "\e608\0000a0\0000a0";
}

/* line 1, ../_sass/_tagcloud.scss */
.tagcloud {
  display: inline;
}

/* line 5, ../_sass/_tagcloud.scss */
.tagcloud .taglist {
  float: initial;
  margin-left: 1em;
}

/* line 10, ../_sass/_tagcloud.scss */
.tagcloud .tag:first-child {
  list-style: initial;
}
/* line 13, ../_sass/_tagcloud.scss */
.tagcloud .tag:first-child:before {
  font-family: initial;
  content: initial;
}

/* line 8, ../_sass/screen.scss */
body {
  background-color: #fca903;
}

/* line 12, ../_sass/screen.scss */
.site {
  background-color: #fedd9a;
}
