---
layout: default
title: Blog overzicht GeoDienstenCentrum
description: Een overzicht van de artikelen op deze website.
tags: 
  - blog
  - artikelen
permalink: /blog.html
---

<section id="blog" itemscope itemtype="http://schema.org/Blog">
  <h1>Artikelen</h1>
  <p itemprop="description">Een overzicht van de (voorlopig alleen engelstalige) artikelen op deze website.</p>
  {% if site.posts.size > 0 %}
    <ul class="posts">
    {% for post in site.posts %}
      <li itemprop="blogPost" itemscope itemtype="http://schema.org/BlogPosting">
          <time class="meta" itemprop="dateCreated" datetime="{{post.date | date: '%Y-%m-%d'}}">{{ post.date | date_to_string }}</time> 
          <a href="{{ post.url }}" itemprop="url name">{{ post.title }}</a>
          {% capture readtime %} {{ post.content | number_of_words | plus:91 | divided_by:180 }} {% endcapture %}
          {% if readtime != '0' %}
          <span class="readtime">(ongeveer{{ readtime }} min. lezen)</span>
          {% endif %}
      </li>
    {% endfor %}
    </ul>
  {% else %}
    <p>Geen blog posts gepubliceerd.</p>
  {% endif %}
</section>
