/**
 * screen breakpoint calculus; outputs media queries.
 */
@mixin breakpoint($breakpoint) {
    @if ($useMediaQueries) {
        // magic numbers
        $_offset: 6em; 
        $_offset-max: $_offset + 24em;
        
        $narrow: "(max-width: " + ($_siteWidth - 0.063em + $_offset) + ")";
        $regular: "(min-width: " + ($_siteWidth + $_offset)          + ")";
        $wide:   "(min-width: " + ($_siteWidth + $_offset-max)       + ")";

        @if ($breakpoint == narrow) {
            @media #{$narrow} { @content; }
        }
        @else if ($breakpoint == regular) {
            @media #{$regular} { @content; }
        }
        @else if ($breakpoint == wide) {
            @media #{$wide} { @content; }
        }

    } @else {
        // no output
    }
}