---
layout: default
title: Blog overzicht GeoDienstenCentrum
description: Een overzicht van de artikelen.
tags: 
  - blog
  - artikelen
---
<section id="blog" itemscope itemtype="http://schema.org/Blog">
  <h1>Blog</h1>
  {% if site.posts.size > 0 %}
    <ul class="posts">
    {% for post in site.posts %}
      <li itemprop="blogPost"><span>{{ post.date | date_to_string }}</span> &raquo; <a href="{{ post.url }}" itemprop="url">{{ post.title }}</a>
          {% capture readtime %} {{ post.content | number_of_words | plus:91 | divided_by:180 }} {% endcapture %}
          {% if readtime != '0' %}
          	<span class="readtime">(ongeveer{{ readtime }} min. lezen)</span>
          {% endif %}
      </li>
    {% endfor %}
    </ul>
  {% else %}
    <p>Geen blog posts gepubliceerd.</p>
  {% endif %}
</section>
