<nav id="siteNav" class="siteNav" role="navigation">
    <ul>
        <li>
            <a href="/en/n" id="mainMenu">
                <span aria-hidden="true" data-icon="&#xe60d;"></span>
                <span>home</span>
            </a>
        </li>
        <li>
            <a href="/en/over.html">
                <span aria-hidden="true" data-icon="&#xe60e;"></span>
                <span>about</span>
            </a>
        </li>
        <li>
            <a href="/blog.html">
                <span aria-hidden="true" data-icon="&#xe600;"></span>
                <span>blog</span>
            </a>
        </li>
        <li>
            <a href="/sitemap.html" rel="directory">
                <span aria-hidden="true" data-icon="&#xe601;"></span>
                <span>sitemap</span>
            </a>
        </li>
        <!-- li>
            <a href="/tag/index.html" rel="directory">
                <span aria-hidden="true" data-icon="&#xe602;"></span>
                <span>trefwoorden</span>
            </a>
        </li -->
    </ul>
</nav>