<footer id="siteFooter" class="siteFooter" aria-label="contact informatie">
  <div class="contact">
    <p>
      <!-- span aria-hidden="true" data-icon="&#xe600;"></span>{{ site.author }}<br / -->
      <a href="mailto:{{site.email}}">
        <span aria-hidden="true" data-icon="&#xe60f;"></span>
        <span>{{ site.email }}</span>
      </a>
      <br />
      <span aria-hidden="true" data-icon="&#xe60c;"></span>{{ site.phone }}
    </p>
  </div>
  <div class="contact">
    <p>
      <a href="https://github.com/{{site.github}}">
        <span aria-hidden="true" data-icon="&#xe607;"></span>
        <span>github.com/{{ site.github }}</span>
      </a>
      <br />
      <a href="https://twitter.com/{{site.site-twitter}}">
        <span aria-hidden="true" data-icon="&#xe605;"></span>
        <span>twitter.com/{{ site.site-twitter }}</span>
      </a>
    </p>
  </div>
  <div class="rss">
    <p>
      <a href="/atom.xml" class="">
        <span aria-hidden="true" data-icon="&#xe608;"></span>
        <span class="screen-reader-text">Atom feed</span>
      </a>
    </p>
  </div>
</footer>