<nav id="siteNav" class="siteNav" role="navigation">
    <ul>
        <li>
            <a class="navItem" href="{{ site.baseurl }}/" id="mainMenu">
                <span aria-hidden="true" data-icon="&#xe60d;"></span>
                <span>home</span>
            </a>
        </li>
        <li>
            <a class="navItem" href="{{ site.baseurl }}/over.html">
                <span aria-hidden="true" data-icon="&#xe60e;"></span>
                <span>over</span>
            </a>
        </li>
        <li>
            <a class="navItem" href="{{ site.baseurl }}/blog.html">
                <span aria-hidden="true" data-icon="&#xe600;"></span>
                <span>blog</span>
            </a>
        </li>
        <li>
            <a href="{{ site.baseurl }}/sitemap.html">
                <span aria-hidden="true" data-icon="&#xe601;"></span>
                <span>sitemap</span>
            </a>
        </li>
    </ul>
</nav>