<nav id="sitenav" class="site-nav" role="navigation">
    <ul>
        <li>
            <a href="/" id="mainMenu">
                <span aria-hidden="true" data-icon="&#xe60d;"></span>
                <span>home</span>
            </a>
        </li>
        <li>
            <a href="/over.html">
                <span aria-hidden="true" data-icon="&#xe60e;"></span>
                <span>over</span>
            </a>
        </li>
        <li>
            <a href="/blog.html">
                <span aria-hidden="true" data-icon="&#xe600;"></span>
                <span>artikelen</span>
            </a>
        </li>
        <li>
            <a href="/sitemap.html"><!--  rel="directory" -->
                <span aria-hidden="true" data-icon="&#xe601;"></span>
                <span>sitemap</span>
            </a>
        </li>
        <!-- li>
            <a href="/tag/index.html" rel="directory">
                <span aria-hidden="true" data-icon="&#xe602;"></span>
                <span>trefwoorden</span>
            </a>
        </li -->
    </ul>
</nav>