/////////////
// common
/////////////

html {
  // empty
}

body {
  text-align: center;
  font-family: $font;
}

h1 { 
  margin-bottom: 1em;
}

p {
  margin: 1em 0;
}

a {
  @include link-colors($_footer_col,
                       $_footer_anchor_col,
                       $_footer_anchor_col_active,
                       $_footer_anchor_col);
  transition: color 0.25s linear;  

  &:hover,
  &:focus {
    //outline: 0.1em solid;
    @include box-shadow(0.2em 0.2em 1em);
  }
}

a[data-proofer-ignore="true"] {
  text-decoration: line-through;
}

abbr {
  border-bottom: 1px dotted;
  
  &:hover,
  &:focus {
    cursor: help;
  }
}

figure > img {
  max-width: 100%;
}

/////////////
// site
/////////////

.site {
  text-align: left;
  max-width: $_siteWidth;
  margin: 3em auto 2em;
  line-height: 1.5em;
}

.title {
  display: inline-block;
  margin-bottom: 2em;
}

.subtitle {
  font-style: italic;
  margin-top: -2em;
  margin-bottom: 2em;
  margin-left: 2em;
}

.summary {
  font-size: smaller;
  line-height: 1.1em;
}

blockquote {
  padding: 1.5% 0.5em;
  margin: 0 2% 0.5em;
  quotes: '\2018' '\2019' '\201c' '\201d';
  @include box-shadow(0.1em 0.1em 0.5em);
  @include border-radius(0.3em);
  background: $_blockquotebgcol;
  
  p::before {
    content: '\201c';
  }

  p::after {
    content: '\201d';
  }
}

dl {
  // empty
}

dt {
  font-weight: bold;
}

dd {
  // empty
}
