/////////////
// common
/////////////

html {
  // empty
}

body {
  font-family: $font;
  text-align: center;
}

h1 { 
  margin-bottom: 1em;
}

p {
  margin: 1em 0;
}

a {
  @include link-colors($footer-text-col,
                       $footer-anchor-text-col,
                       $footer-anchor-text-col-active,
                       $footer-anchor-text-col);
  transition: color 0.25s linear;  

  &:hover,
  &:focus {
    @include box-shadow(0.2em 0.2em 1em);
  }
}

a[data-proofer-ignore="true"] {
  text-decoration: line-through;
}

abbr {
  border-bottom: 1px dotted;
  
  &:hover,
  &:focus {
    cursor: help;
  }
}

figure > img {
  max-width: 100%;
}

/////////////
// site
/////////////

.site {
  max-width: $site-width;
  margin: 3em auto 2em;
  line-height: 1.5em;
  text-align: left;
}

.title {
  @include inline-block;
  margin-bottom: 2em;
}

.subtitle {
  margin-top: -2em;
  margin-bottom: 2em;
  margin-left: 2em;
  font-style: italic;
}

.summary {
  font-size: smaller;
  line-height: 1.1em;
}

blockquote {
  @include box-shadow(0.1em 0.1em 0.5em);
  @include border-radius(0.3em);

  padding: 1.5% 0.5em;
  margin: 0 2% 0.5em;
  background: $blockquote-bg-col;
  quotes: '\2018' '\2019' '\201c' '\201d';

  p::before {
    content: '\201c';
  }

  p::after {
    content: '\201d';
  }
}

dl {
  // empty
}

dt {
  font-weight: bold;
}

dd {
  // empty
}
