/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/

body {
  background-color: #FFF;
  text-align: center;
  font-family: sans-serif;
}

h1 { 
  margin-bottom: 1em;
}

p {
  margin: 1em 0;
}

a {
  color: #00a;
  &:hover {
    color: #000;
  }
  &:visited {
    color: #a0a;
  }
}

/*****************************************************************************/
/*
/* Home
/*
/*****************************************************************************/
.posts {
  list-style-type: none;
  margin-bottom: 2em;
}

.posts li {
  line-height: 1.75em;
}

.posts span {
  color: #aaa;
}

/*****************************************************************************/
/*
/* Site
/*
/*****************************************************************************/

.site {
  text-align: justify;
  width: 42em;
  margin: 3em auto 2em;
  line-height: 1.5em;
  @include border-radius(5px);
}

.header a {
  font-weight: bold;
  text-decoration: none;
}

.title {
  display: inline-block;
  margin-bottom: 2em;
}

.header a.extra {
  color: #aaa;
  margin-left: 1em;
}

.header a.extra:hover {
  color: #000;
}

.meta {
  color: #aaa;
}

.footer {
  color: #666;
  border-top: 4px solid $_bodybgcol;
  margin-top: 2em;
  overflow: hidden;
  font-size: smaller;
}

.footer .contact {
  float: left;
  margin-right: 3em;
}

.footer a {
  color: #8085C1;
}

.footer .rss {
  float: right;
}

.footer .rss img {
  border: 0;
}

/*****************************************************************************/
/*
/* Posts
/*
/*****************************************************************************/

/* standard */
.post pre {
  border: 1px solid #ddd;
  background-color: #eef;
  padding: 0 .4em;
}

.post ul, .post ol {
  margin-left: 1.35em;
}

.post code {
  border: 1px solid #ddd;
  background-color: #eef;
  padding: 0 .2em;
}

.post pre code {
  border: none;
}

/* terminal */
.post pre.terminal {
  border: 1px solid #000;
  background-color: #333;
  color: #FFF;
}

.post pre.terminal code {
  background-color: #333;
}