/**
 * global configuration.
 */

/* global overrides */


/* global imports */
@import "compass/css3";
@import "compass/utilities";
@import "compass/typography";

@import "mixin/breakpoints";

/* voor ouwe ie */
$useMediaQueries:    true;

/* text colours */

/* donkerblauw */
$text_col:           #200771;
/* paars blauw */
$_footer_col:        #3A16AD;
/* turqoise */
$_footer_anchor_col: #016262;
/* licht turqoise */
$_footer_anchor_col_active: #029797;
/* wit */
$_sitenavcol:        #FFF;

/* background colours */

/* oranje */
$_bodybgcol:         #FCA903;
/* licht oranje */
$_blockquotebgcol:   lighten($_bodybgcol,30%);
/* off-wit */
$_sitebgcol:         #F8F4EC;
/* paarsblauw */
$_sitenavbgcol:      #3A16AD;

/* afmetingen */

// 40em~640px bij 16px base pixel
$_siteWidth:         42em;


$font:              Verdana, Helvetica Neue, Helvetica, Arial, sans-serif;