/**
 * global configuration.
 */

/* global overrides */
$experimental-support-for-opera: false;
$experimental-support-for-khtml: false;
$legacy-support-for-ie:          false;

/* global imports */
@import "compass/css3";
@import "compass/utilities";
@import "compass/typography";

/* voor ouwe ie */
$noMediaQueries:     true;

/* text colours */

/* donkerblauw */
$text_col:           #200771;
/* paars blauw */
$_footer_col:        #3A16AD;
/* turqoise */
$_footer_anchor_col: #016262;
/* wit */
$_sitenavcol:        #FFF;

/* background colours */

/* oranje */
$_bodybgcol:         #FCA903;
/* licht oranje */
$_sitebgcol:         lighten($_bodybgcol,30%);
/* bruin */
$_sitenavbgcol:      #A46D01;

/* afmetingen */

// 40em~640px bij 16px base pixel
$_siteWidth:         40em;