.siteFooter {
  color: $_footer_col;
  border-top: 4px solid $_bodybgcol;
  margin-top: 2em;
  overflow: hidden;
  font-size: smaller;
  line-height: 1.2em;
}

.siteFooter .contact {
  float: left;
  margin-right: 1.1em;
}

.siteFooter a {
  @include link-colors($_footer_col,
                       $_footer_anchor_col,
                       $_footer_anchor_col_active,
                       $_footer_anchor_col,
                       $_footer_anchor_col);
}

.site-footer {
  max-width: $_siteWidth;
  margin: 0 auto 0;
}

.rss {
  float: right;
}
