.siteFooter {
  color: $footer-text-col;
  border-top: 4px solid $body-bg-col;
  margin-top: 2em;
  overflow: hidden;
  font-size: smaller;
  line-height: 1.2em;
  
  .contact {
    float: left;
    margin-right: 1.1em;
  }
  
  a {
    @include link-colors($footer-text-col,
                         $footer-anchor-text-col,
                         $footer-anchor-text-col-active,
                         $footer-anchor-text-col,
                         $footer-anchor-text-col);
  }
}

.site-footer {
  max-width: $_siteWidth;
  margin: 0 auto;
}

.rss {
  float: right;
}

.buttons {
  display: inline-flex;
}
