@include font-face('icomoon',
                   font-files(
                      'icomoon.woff', 'icomoon.ttf', 'icomoon.svg'
                   ),
                   'icomoon.eot',
                   'normal',
                   'normal'
                   );

[data-icon]::before {
  font-family: icomoon;
  content: attr(data-icon);
  //met extra spatie: content: attr(data-icon)'\0000a0';
  speak: none;
}

time::before {
  font-family: icomoon;
  font-size: initial;
  content: '\e60f\0000a0';
}
