// home page ///////////////
.posts {
  margin-bottom: 2em;
  list-style-type: none;

  li {
    // line-height: 1.75em;
  }

  span {
    // empty
  }
}

// posts ///////////////
.post pre {
  // standard
  padding: 0 .4em;
  background-color: $post-code-background-col;
  border: 1px solid $post-border-col;

  code {
    border: 0;
  }

  .terminal {
    // terminal
    color: $sitenav-text-col;
    background-color: $post-terminal-background-color;
    border: 1px solid invert($sitenav-text-col);
  }
}

.post ul,
.post ol {
  margin-left: 1.35em;
}

.post code {
  padding: 0 .2em;
  background-color: $post-code-background-col;
  border: 1px solid $post-border-col;
}

.meta,
.navigation {
  font-size: smaller;
}

.readtime {
  font-size: smaller;
  font-style: italic;
}
