// home page ///////////////
.posts {
  margin-bottom: 2em;
  list-style-type: none;
  
  li {
    // line-height: 1.75em;
  }

  span {
    // empty
  }
}

// posts ///////////////
.post pre {
  // standard
  padding: 0 .4em;
  background-color: #eef;
  border: 1px solid #ddd;

  code {
    border: 0;
  }

  .terminal {
    // terminal
    color: #fff;
    background-color: #333;
    border: 1px solid #000;
  }
}

.post ul,
.post ol {
  margin-left: 1.35em;
}

.post code {
  padding: 0 .2em;
  background-color: #eef;
  border: 1px solid #ddd;
}

.meta,
.navigation {
  font-size: smaller;
}

.readtime {
  font-size: smaller;
  font-style: italic;
}

