.siteNav {
  position: fixed;
  top: 3em;
  right: 1%;

  @include breakpoint(narrow) { 
    top: 0.2em;
  }

  @include breakpoint(regular) {
  }

  @include breakpoint(wide) {
    left: calc(50% + #{($_siteWidth / 2 + 5em)});
    right: initial;
  }

  overflow: hidden;
  @include border-radius(0.3em);
  @include box-shadow;

  line-height: 1.4em;
  background-color: $_sitenavbgcol;
  color: $_sitebgcol;

  a {
    text-decoration: none;
    @include link-colors($_sitenavcol, 
                         $_sitenavcol,
                         $_sitenavcol,
                         $_sitenavcol);
    white-space: nowrap;
  }

  > ul {
    padding: 0;
    @include no-bullet;
    margin-top: 0;
    margin-bottom: 0;

    > li {
      margin-left: 0.3em;
      margin-right: 0.3em;
      // bij overlappen met .site

      @include breakpoint(narrow) {
        display: inline;
      }
    }
  }
}
