.site-nav {
  @include border-radius(0.3em);
  @include box-shadow;

  position: fixed;
  top: 3em;
  right: 1%;
  overflow: hidden;
  line-height: 1.4em;
  color: $site-bg-col;
  background-color: $sitenav-bg-col;
  
  @include breakpoint(narrow) { 
    top: 0.2em;
  }

  @include breakpoint(regular) {
  }

  @include breakpoint(wide) {
    right: initial;
    left: calc(50% + #{($site-width / 2 + 5em)});
  }

  a {
    @include link-colors($sitenav-text-col, 
                         $sitenav-text-col,
                         $sitenav-text-col,
                         $sitenav-text-col);

    text-decoration: none;
    white-space: nowrap;
  }

  > ul {
    @include no-bullet;
    padding: 0;
    margin-top: 0;
    margin-bottom: 0;

    > li {
      margin-right: 0.3em;
      margin-left: 0.3em;

      // bij overlappen met .site
      @include breakpoint(narrow) {
        display: inline;
      }
    }
  }
}
