@import "compass/support";

@import "config";
@import 'utils';

/* overrides */
$noMediaQueries:                 false;
$legacy-support-for-ie:          true;

@mixin border-radius($param){
    // override + ignore
}
@mixin box-shadow(){
    // override + ignore
}

@import 'sitenav';

.screen-reader-text{
    position: relative;
    top: 0;
    left: 0;
}