////////////////
// old IE styles
////////////////

@import 'compass/support';

@import 'config';
@import 'utils';

// overrides
$use-media-queries:       false;
$legacy-support-for-ie: true;

@mixin border-radius($param) {
  // override + ignore
}

@mixin box-shadow() {
  // override + ignore
}

.visually-hidden {
  // extra voor IE6, IE7
  clip: rect(1px 1px 1px 1px);
}

@import 'sitenav';
