/** screen/projector styles */
@import "config";
@import "icons";
@import "footer";
@import "tagcloud";

body { 
  background-color: $_bodybgcol;
  color: $text_col;
}

.site {
  background-color: $_sitebgcol;
  border-left: $_footer_col solid 5px;
  padding: 5px;
}