@charset "UTF-8";

/** screen/projector styles */
@import "config";
@import "utils";
@import "icons";
@import "footer";
@import "tagcloud";
@import "sitenav";

body { 
  background-color: $_bodybgcol;
  color: $text_col;
}

.site {
  @include border-radius(0.3em);
  @include box-shadow;
  background-color: $_sitebgcol;
  @include breakpoint(wide) {
    border-left: $_footer_col solid 0.3em;
  }
  padding: 0.3em;

  @include breakpoint(narrow) {
     width: 98%;

     & h1 {
       font-size: 1.5em;
     }
  }
}

.summary {
  //background-color: $_sitenavcol;
  //color: $_sitenavbgcol;
  @include border-radius(0.3em);
  padding: 0.3em;
}

a.skipLink{
  background-color: $_sitebgcol;
  border: 2px solid $_bodybgcol;
  display: block;
  left: -1000em;
  padding: 0.3em;
  position: absolute;
  z-index: 10;
  
  &:focus,
  &:hover {
    top: 1em;
    left: 1em;
    z-index: 1000;
    color: $_footer_col;
    border: initial;
  }
}
