<!DOCTYPE html>
<html lang="nl">
    <head>
        <meta charset="utf-8">
        <title>{{ page.title }}</title>
        <!--[if lt IE 9]><script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
        <meta name="viewport" content="width=device-width">
        <meta name="robots" content="noindex,nofollow">
        <link href="{{ site.baseurl }}/css/main.css" rel="stylesheet"  type="text/css">
        <link href="{{ site.baseurl }}/css/screen.css" media="screen, projection" rel="stylesheet" type="text/css">
        <link href="{{ site.baseurl }}/css/print.css" media="print" rel="stylesheet" type="text/css">
        <link rel="icon" type="image/x-icon" href="/favicon.ico">
        <link rel="alternate" type="application/rss+xml" title="RSS Atom feed" href="atom.xml">
        <link rel="contents" href="sitemap.html" title="Index">
        <link rel="start" href="{{ site.url }}"/>

    </head>
    <body>

        <div class="site">
          <header class="header">
            <h1 class="title">{{ site.name }}</h1>
            <!-- <a class="extra" href="{{ site.baseurl }}">home</a> -->
          </header>

          {{ content }}

          {% include footer.html %}

        </div>
    </body>
</html>
